// 1.根据课程周数关系判断是否显示
var judegShow = function (course, curWeek = 0, dayModule = false) {
  // 日模式若未开学，隐藏
  if (dayModule) {
    if (curWeek <= 0)
      return true
  }

  weekArr = course.week_section
  if (!course.week_section) {
    weekArr = getWeek(course.weeks)
  }

  var hide = true
  if (curWeek < 1) {
    return false
  }
  // 遍历周数组，不在本周的课程隐藏
  for (var i = 0; i < weekArr.length; i = i + 2) {
    if (weekArr[i] <= curWeek && curWeek <= weekArr[i + 1]) {
      hide = false
      break
    }
  }

  return hide
}

// 2.判断当日有无课程
var noCourse = function (todayCourse, schoolWeek) {
  var flag = false
  for (var i = 0; i < todayCourse.length; i++) {
    weekArr = todayCourse[i].week_section
    if (!todayCourse[i].week_section) {
      weekArr = getWeek(todayCourse[i].weeks)
    }
    for (var j = 0; j < weekArr.length; j = j + 2) {
      if (weekArr[j] <= schoolWeek && schoolWeek <= weekArr[j + 1]) {
        flag = true // 只要检测到有课就全部跳出，隐藏提示
        break
      } else continue
    }
    if (flag) break
    else continue
  }
  return flag
}

module.exports = {
  judegShow: judegShow,
  noCourse: noCourse
}



// 生成[start,end, start,end]格式的周段记录
var getWeek = function (weekStr) {

  var weekSplit = weekStr.split(",") // 将多个周段拆分
  var reg = getRegExp("\d+", "g")

  var weekArr = [] //存放所有周段开始和结束
  weekSplit.forEach(function (i) {
    var temp = [] //存放一个周段开始和结束
    var res = i.match(reg)

    if (res.length == 2) {
      temp.push(parseInt(res[0]))
      temp.push(parseInt(res[1]))
    } else {
      temp.push(parseInt(res[0]))
      temp.push(parseInt(res[0]))
    }
    weekArr.push(temp[0])
    weekArr.push(temp[1])
  })
  return weekArr
}